@import url(header.css);
@import url(productos.css);
@import url(hero.css);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: nowrap; 
    width: 100%;
}
nav ul li {
    margin: 0;
}

nav ul li a {
    color: hsl(209, 60%, 44%);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}


/* Media Queries para dispositivos móviles */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: row; 
        flex-wrap: wrap; 
        font-size: 14px; 
    }

    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .producto-card {
        max-width: 100%; 
    }
}

/* Media Queries para tablets */
@media screen and (max-width: 1024px) {
    .productos-container {
        justify-content: space-around;
    }

}

